body {
	margin: 0;
	font-family: Helvetica ;
	font-style: regular;
	text-align: center;
	line-height: 30px;

}

header {
	background-color: #EAECEE;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 5px;
}

header img {
	border-radius: 160px;
	width: 300px;
	border: 2px solid #17202A;
}

h2{
	margin-bottom: 0px;
}

p {
	margin-top: 0px;

}

footer {
	background-color: #EAECEE;
}